body {
	background-color: #fff;
	color: #333;
	font-size: 76%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	margin: 0 0 .5em;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}
h3 {
	margin: 0 0 .2em;
	font-size: 1.2em;
}
h4 {
	margin: 0 0 .2em;
	font-size: 1em;
}
p {
	margin: 0 0 1em;
}
img {
	border: none;
}
/* Layout
---------------------------------------------------------------------------*/
#wrapper {
	margin: 20px;
}

/* Announcement
---------------------------------------------------------------------------*/
.announcement {
    background: #1a1a1a;
    color: #fff;
    padding: 5px 20px;
    margin: 0 auto;
    text-align: center;
}
.announcement a {
    color: #fff;
	font-weight: bold;
}

.announcement a:hover {
    color: #fff;
    background: none;
	color: #ff9;
}
/* Footer
---------------------------------------------------------------------------*/
#footer {
	clear: both;
	margin: 1em 0;
	padding-top: 10px;
	border-top: 1px solid #333;
}